body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  backface-visibility: hidden; /* fix the shake in animation   */
  margin-bottom: 6rem;

  &--first {
    font-size: 4rem;
    font-weight: 200;
  }

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    overflow: hidden;
    border-right: 0.1em solid;
    white-space: nowrap;
    animation: typing 4s steps(20, end) forwards, blink 0.8s infinite;
    width: 0;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    animation: typing 4s steps(20, end) forwards;
  }
}
.about__text {
  h2 {
    color: white;
    font-size: 6rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
  h5 {
    color: white;
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }
  p {
    color: rgb(241, 204, 135);
    letter-spacing: 0.1rem;
    line-height: 2.8rem;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
.section-features {
  h4 {
    color: white;
    font-size: 6rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
}

.section-skills {
  h4 {
    text-align: center;
    margin-top: -20vh;
    margin-bottom: 10vh;
    color: white;
    font-size: 6rem;
    text-transform: capitalize;
  }
}
